
<div class="forgot-backgroud">
  <div class="container padding-bottom-3x mb-2 mt-5 ">
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-10">
        <div class="forgot my-backgroup">
          <h2>{{'TEXT_1' | translate}}</h2>
          <p>
            {{'TEXT_2' | translate}}
          </p>
          <ol class="list-unstyled">
            <li>
              <span class="text-primary text-medium">1. </span> {{'TEXT_3' | translate}}
            </li>
            <li>
              <span class="text-primary text-medium">2. </span>{{'TEXT_4' | translate}}
            </li>
            <li>
              <span class="text-primary text-medium">3. </span>{{'TEXT_5' | translate}}
            </li>
          </ol>
        </div>
        <div class="card mt-4 my-backgroup">
          <div class="card-footer my-backgroup">
            <a class="btn-forget ml-2" href="/login">Back to Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
