
.e-grid .e-gridheader .e-columnheader {
    background: red !important;
    color: white;
  }


.e-grid .e-headercelldiv,   
.e-grid .e-rowcell,              
.e-grid .e-summarycell, 
.e-grid .e-row .e-input-group .e-input.e-field { 
  padding: 0;
  margin: 0;
  white-space: break-spaces;
  font-size: 10px;
  vertical-align: top ;
}


.e-headertext {
  font-size: 8px !important;
}

.e-grid .e-rowcell {
  font-size: 10px ;
}
.e-grid .e-headercelldiv{
  font-size: 10px;
  font-weight: bold;
}
.e-grid .e-toolbar .e-toolbar-items .e-toolbar-item .e-tbar-btn.e-btn{
  padding: 0 0.5px;
}
.e-grid .e-toolbar .e-toolbar-items .e-toolbar-item:not(.e-separator){
  padding: 0.5px;
}
.e-grid .e-filterbarcell, .e-grid .e-filterbarcelldisabled{
  padding: 0 5px;
}


.e-grid.e-device .e-headercell {
  padding: 0 0px 0 5px !important;
}