<!-- <div class="flex">
  <div class="item">
      <form class="login_box"  (ngSubmit)="login()" #form="ngForm">
        <a href="#" >
          <img src="../../../assets/images/logo.png" alt="logo"  style="padding-bottom: 10px;" />
        </a>
          <h3 style="color:#5D3422">{{'LINE2_U' | translate}}</h3>
          <div class="account">
            <label> {{'Username' | translate}} </label>
            <input type="text"  [(ngModel)]="username"
            name="username"  /><span></span>
          </div>
          <div class="account">
            <label> {{'Password' | translate}} </label>
            <input type="password" name='password' [(ngModel)]="password" />
          </div>

          <input type="checkbox" id="remember" name="remember" (change)="onChangeRemember($event)" [(ngModel)]="remember" />
          
          <label> {{'Remember account' | translate}} </label>
          <input type="hidden" value="xxx" />
          <button class="btn-login" id='submit' [disabled]="!username || !password" [class.disabled]="!username || !password">

            <span *ngIf="loading == 1" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
            {{'Login' | translate}}
          </button>

          <input type="hidden" value="xxx" />
          <div class="link_box">
              <div class="l-item"><a href="/forgot-password">{{'Forgot password?' | translate}}</a></div>
          </div>
          <a class="icn_home" [routerLink]="'/home'"><i class="fas fa-2x fa-home"></i></a>
      </form>
  </div>
</div> -->

<div class="inner-wrapper">
  <div class="container-fluid no-padding">
    <div class="row no-gutters overflow-auto">
      <div class="col-md-6">
        <div class="main-banner">
          <img 
          [src]="sysConf.AdminLoginImage"
           class="img-fluid full-width main-img" alt="banner">
          <!-- <div class="overlay-2 main-padding">
            <img src="assets/img/logo-2.jpg" class="img-fluid" alt="logo">
          </div>
          <img src="assets/img/banner/burger.png" class="footer-img" alt="footer-img"> -->
        </div>
      </div>
      <div class="col-md-6">
        <div class="section-2 user-page main-padding">
          <div class="login-sec">
            <div class="login-box">
              <form (ngSubmit)="login()" #form="ngForm">
                <a href="#" >
                  <img src="../../../assets/images/logo.png" alt="logo"  style="padding-bottom: 10px;" />
                </a>
                <!-- <h4 class="text-light-black fw-600">{{'LINE2_U' | translate}}</h4> -->
                <div class="row">
                  <div class="col-12">
                    <!-- <p class="text-light-black">Have a corporate username? <a routerLink="/add-restaurant">Click here</a>
                    </p> -->
                    <div class="form-group">
                      <label class="text-light-white fs-14">{{'Username' | translate}}</label>
                      <input type="text" 
                      [(ngModel)]="username"
                      name="username" class="form-control form-control-submit" placeholder="User name...." required>
                    </div>
                    <div class="form-group">
                      <label class="text-light-white fs-14">{{'Password' | translate}}</label>
                      <input type="password" 
                      id="password-field" name='password' [(ngModel)]="password"
                      class="form-control form-control-submit" value="password" 
                      placeholder="Password" required>
                      <div data-name="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></div>
                    </div>
                    <div class="form-group checkbox-reset">
                      <label class="custom-checkbox mb-0">
                        <input (change)="onChangeRemember($event)" [(ngModel)]="remember" type="checkbox" id="remember" name="remember" name="#">
                         <span class="checkmark"></span> 
                         {{'Remember account' | translate}}
                      </label> 
                      <a routerLink="/forgot-password">{{'Forgot password?' | translate}}</a>
                    </div>
                    <div class="form-group">
                      <button [disabled]="!username || !password" [class.disabled]="!username || !password" type="submit" class="btn-second btn-submit full-width">
                        {{'Sign in' | translate}}
                      </button>
                    </div>
                    <div class="form-group">
                      <button type="submit" (click)="back()" id="line-back-btn" class="btn-second btn-google full-width ">
                        <span class="line-back-text">
                          <!-- <i class="fa fa-arrow-left" aria-hidden="true"></i> -->
                          {{'BACK HOME' | translate}}
                        </span>
                      </button>
                    </div>
                    <!-- <div class="form-group text-center"> <span>or</span>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn-second btn-facebook full-width">
                        <img src="assets/img/facebook-logo.svg" alt="btn logo">Continue with Facebook</button>
                    </div>
                    <div class="form-group">
                      <button type="submit" class="btn-second btn-google full-width">
                        <img src="assets/img/google-logo.png" alt="btn logo">Continue with Google</button>
                    </div>
                    <div class="form-group text-center mb-0"> <a routerLink="/register">Create your account</a>
                    </div> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>