<nav aria-label="breadcrumb" class="mobile-nav">
  <ol class="breadcrumb mobile-breadcrumb">
    <!-- <li class="breadcrumb-item"><a href="mobile/home">{{'Home' | translate}}</a></li> -->
    <li class="breadcrumb-item active" aria-current="page">{{'NAV_MAIN_CATEGORY' | translate}}</li>
  </ol>
</nav>
<ngx-spinner [fullScreen]="false" type="square-jelly-box" size="medium">
  <p class="loading">Loading data...</p>
</ngx-spinner>
<!-- <app-back-previous-page></app-back-previous-page> -->
<div class="row">

<div class="col-12">
  <div class="card main-card">
    <div class="card-body table-responsive p-0">
      <ejs-grid
        #grid
        id="grid"
        (dataBound)='dataBound()'
        [dataSource]="data"
        [allowPaging]="true"
        [allowResizing]="true"
        [showColumnMenu]="false"
        [allowSorting]="true"
        [allowExcelExport]="true"
        [toolbar]="toolbarOptions"
        [pageSettings]="pageSettings"
        [enableInfiniteScrolling]="true"
        gridLines="Both"
        [editSettings]="editSettings"
        (toolbarClick)="toolbarClick($event)"
(rowSelected)="rowSelected($event)"

        (excelExportComplete)="excelExpComplete($event)"
      >
    
        <e-columns>
          <e-column
            field="option"
            textAlign="Left"
            headerTextAlign="Center"
            width="80"
            headerTextAlign="Center"
            [allowSorting]="false"
            [allowSearching]="false"
            [allowGrouping]="false"
            [allowFiltering]="false"
            [allowEditing]="false"
            headerText="{{ 'OPTION' | translate }}"
          >
            <ng-template #template let-data>
              <span (click)="delete(data.id)" class="delete-grid">
                <i class="fa fa-trash"></i>
              </span>
              <span (click)="openModal(optionModal, data)" class="edit-grid">
                <i class="fa fa-edit"></i>
              </span>
            </ng-template>
          </e-column>

          <e-column
            field="id"
            [allowSearching]="false"
            textAlign="Left"
            headerTextAlign="Center"
            [visible]="false"
            isPrimaryKey="true"
            headerText="{{ 'ID' }}"
          >
          </e-column>


          <e-column
            field="categoryName"
            textAlign="Left"
            headerTextAlign="Center"
            [width]="120"
            headerText="{{ 'CATEGORY_NAME' | translate }}"
          >
          </e-column>
        </e-columns>
      </ejs-grid>
    </div>
    <!-- /.card-body -->
  </div>
</div>

</div>
<ng-template #optionModal let-modal>
  <div class="modal-header my-modal">
    <h4 [ngbTooltip]="title" class="modal-title">
      <i class="fas fa-plus"></i> {{ title | translate }}
    </h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" id="option">

    <div class="row">
      <!-- <div class="col-6">
        <p style="color: red;" *ngIf="model.id > 0">{{ "/home/news-detail/" + model.id }}</p>
        <div class="form-group">
          <label for="engineerSex">{{ "WebNews_Type" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <app-code-type-dropdownlist
            id="webnew-type-remote"
            [codeType]="'WebNews_Type'"
            [(selectedValue)]="model.type"
          >
          </app-code-type-dropdownlist>
        </div>
      </div> -->

      <div class="col-md-12">
        <!-- <label *ngIf="model.id > 0" style="color: transparent;" for="uid">{{ "CATEGORY_NAME" | translate }}</label> -->
        <div class="form-group">
          <label for="uid">{{ "CATEGORY_NAME" | translate }}</label>
          <span *ngIf="!(model.id > 0)" style="color: red">(*)</span>
          <input
            [(ngModel)]="model.categoryName"
            maxlength="200"
            type="text"
            class="form-control"
          />
        </div>
      </div>


      <!-- <div class="col-md-6">
        <div class="form-group">
          <label for="status">{{ "CATEGORY_Status" | translate }}</label>
          <input
            [(ngModel)]="model.status"
            type="number"
            class="form-control"
          />
        </div>
      </div> -->

      <!-- <div class="col-12 mb-2">
        <label for="body">{{ "CATEGORY_Body" | translate }}</label>

        <ejs-richtexteditor  [toolbarSettings]='tools' saveInterval='1' [showCharCount]='true' maxLength='5000' #defaultRTE id='defaultRTE'  [(value)]='model.body'>
        
          </ejs-richtexteditor>
      </div> -->


      <!-- <div class="col-12">
        <label>{{ "CATEGORY_COMMENT" | translate }}</label>
        <div class="form-group">
          <textarea
            class="form-control"
            [(ngModel)]="model.comment"
            cols="4"
            rows="4"
          ></textarea>
        </div>
      </div> -->
    </div>

   
</div>

  <div class="modal-footer">
    <div class="mr-auto" *ngIf="model?.id > 0">
      <p>
        <span class="mr-2">
          <span class="my-font-weight-bold">{{ "Create by" | translate }}</span>
          : {{ audit?.createBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Create date time" | translate
          }}</span>
          : {{ audit?.createDate }}</span
        >
      </p>
      <p>
        <span class="mr-2"
          ><span class="my-font-weight-bold">{{
            "Update by" | translate
          }}</span>
          : {{ audit?.updateBy }}</span
        >
        <span
          ><span class="my-font-weight-bold">{{
            "Update date time" | translate
          }}</span>
          : {{ audit?.updateDate }}</span
        >
      </p>
    </div>
    <span *ngIf="!(model.id > 0)" class="my-note mr-auto">
      {{ "Note: (*) is a required field" | translate }}
    </span>
    <button
      type="button"
      class="btn btn-light"
      ngbTooltip="CLOSE"
      (click)="modal.close('Close click')"
    >
      {{ "CLOSE" | translate }}
    </button>
    <button
      type="submit"
      [disabled]="!model.categoryName"
      (click)="save()"
      ngbTooltip="SAVE"
      class="btn btn-primary"
    >
      {{ "SAVE" | translate }}
    </button>
  </div>
</ng-template>
