
.text-dark-white #minus-circle:hover {
    color: rgb(180, 20, 20);
}
/* For 1024 Resolution */  
// @media only screen   
// and (min-device-width : 768px)   
// and (max-device-width : 1024px)  
// {
//     .sidebar .cart-detail-box>.card .card-header, .sidebar .cart-detail-box>.card .card-footer {
//         position: relative;
//         bottom: 0;
//         z-index: 99;
//         left: 0;
//         background: #28A743 !important;
//         border-radius: 10px;
//         right: 0;
//     }
// }  
.sidebar .cart-detail-box>.card .card-header, .sidebar .cart-detail-box>.card .card-footer {
    position: fixed;
    bottom: 0;
    z-index: 99;
    left: 0;
    background: #28A743 !important;
    border-radius: 10px;
    right: 0;
}

.green-btns:hover {
    border-color: #28A743;
    color: #28A743;
}

