<!-- footer -->
<!-- <div class="footer-top section-padding">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-credit-card-1"></i></span>
                  <span class="text-custom-black">{{'footer.100%Payment.label' | translate}}<br>{{'footer.Secured.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-wallet-1"></i></span>
                  <span class="text-custom-black">{{'footer.SupportLots.label' | translate}}<br> {{'footer.OfPayments.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-help"></i></span>
                  <span class="text-custom-black">{{'footer.24Hours7days.label' | translate}}<br>{{'footer.Support.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-truck"></i></span>
                  <span class="text-custom-black">{{'footer.FreeDelivery.label' | translate}}<br>{{'footer.with.label' | translate}} $50</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-guarantee"></i></span>
                  <span class="text-custom-black">{{'footer.BestPrice.label' | translate}}<br>{{'footer.Guaranteed.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-app-file-symbol"></i></span>
                  <span class="text-custom-black">{{'footer.MobileApps.label' | translate}}<br>{{'footer.Ready.label' | translate}}</span>
              </div>
          </div>
      </div>
  </div>
</div> -->
<footer class="section-padding bg-light-theme pt-0 u-line">
  <!-- <div class="u-line instagram-slider swiper-container">
      <ul class="hm-list hm-instagram swiper-wrapper">
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-3.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-1.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-2.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-4.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-5.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-6.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-7.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-8.jpg" alt="instagram"></a>
          </li>
      </ul>
  </div> -->
  <div class="container-fluid">
      <div class="row">
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-contact">
                  <h6 class="text-light-black">{{'footer.NeedHelp.label' | translate}}</h6>
                  <ul>
                      <li class="fw-600"><span class="text-light-white">{{'footer.CallUs.label' | translate}}</span> <a href="tel:" class="text-light-black">{{'footer.CallUsNumber' | translate}}</a>
                      </li>
                      <li class="fw-600"><span class="text-light-white">{{'footer.EmailUs.label' | translate}}</span> <a href="mailto:" class="text-light-black">{{'footer.EmailUs' | translate}}</a>
                      </li>
                      <!-- <li class="fw-600"><span class="text-light-white">{{'footer.NeedHelp.label' | translate}}Join our twitter</span> <a href="#" class="text-light-black">@quickmunch</a>
                      </li>
                      <li class="fw-600"><span class="text-light-white">{{'footer.NeedHelp.label' | translate}}Join our instagram</span> <a href="#" class="text-light-black">@quickmunch</a>
                      </li> -->
                  </ul>
              </div>
          </div>
          <!-- <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-light-black">Get to Know Us</h6>
                  <ul>
                      <li><a href="#" class="text-light-white fw-600">About Us</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Blog</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Socialize</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Quickmunch</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Perks</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-light-black">Let Us Help You</h6>
                  <ul>
                      <li><a href="#" class="text-light-white fw-600">Account Details</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Order History</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Find restaurant</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Login</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Track order</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-light-black">Doing Business</h6>
                  <ul>
                      <li><a href="#" class="text-light-white fw-600">Suggest an Idea</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Be a Partner restaurant</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Create an Account</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Help</a>
                      </li>
                  </ul>
              </div>
          </div> -->
          <!-- <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-light-black">Download Apps</h6>
                  <div class="appimg">
                      <a href="#">
                          <img src="assets/img/playstore.jpg" class="img-fluid" alt="app logo">
                      </a>
                  </div>
                  <div class="appimg">
                      <a href="#">
                          <img src="assets/img/appstore.jpg" class="img-fluid" alt="app logo">
                      </a>
                  </div>
              </div>
          </div> -->
          <!-- <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-contact">
                  <h6 class="text-light-black">{{'footer.Newsletter.label' | translate}}</h6>
                  <form class="subscribe_form">
                      <div class="input-group">
                          <input type="text" class="form-control form-control-submit" name="email" placeholder="Enter your email">
                          <span class="input-group-btn">
                <button class="btn btn-second btn-submit" type="button"><i class="fas fa-paper-plane"></i></button>
           </span>
                      </div>
                  </form>
              </div>
          </div> -->
          <!-- <div class="col-md-12">
              <div class="ft-social-media">
                  <h6 class="text-center text-light-black">Follow us</h6>
                  <ul>
                      <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-youtube"></i></a>
                      </li>
                  </ul>
              </div>
          </div> -->
      </div>
  </div>
</footer>
<div class="copyright">
  <div class="container-fluid">
      <div class="row">
          
          <div class="col-lg-4 text-center medewithlove align-self-center">
            <a href="javascript:void(0)" class="text-custom-black">{{'footer.MadeWithReal.label' | translate}} <i class="fas fa-heart"></i> {{'footer.line2u.label' | translate}}</a>
          </div>
          <div class="col-lg-4">
            <div class="payment-logo mb-md-20"> <span class="text-light-white fs-14 mr-3">{{'footer.WeAreAccept.label' | translate}}</span>
                <div class="payemt-icon">
                    <img style="width: 50px;height: 30px;" [src]="CASH_IMAGE" alt="#">
                    <img style="width: 50px;height: 30px;" [src]="LINE_PAY_IMAGE" alt="#">
                </div>
            </div>
        </div>
          <div class="col-lg-4">
            <div class="copyright-text"> <span class="text-light-black">© <a href="#" class="text-light-white">{{'footer.line2u.label' | translate}}</a> - {{'footer.year.label' | translate}} | {{'footer.AllRightReserved.label' | translate}}</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- footer -->