.header .logo img {
    width: 106px !important;
    height: 30px !important;
}
// .header .mainNavCol {
//     background-color: #233b2e !important;
// }
// .header {
//     background-color: #233b2e !important;
// }

.header .right-side .user-details>a>span {
    white-space: nowrap;
    overflow: hidden;
    width: 150px;
    text-overflow: ellipsis;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(255, 255, 255) !important;
}