<!-- <footer class="footer navbar-fixed-bottom">
  <div class="row no-gutters social-container">
    <ng-container *ngFor="let item of menus; let i=index">
      <div class="col">
        <a class="social-inner" [routerLink]="item.url">
          <span class="icon mdi mdi-facebook"></span>
          <span>{{item.name}}</span>
        </a>
      </div>
    </ng-container>
    
  </div>
</footer> -->

<!-- footer -->
<!-- <div class="footer-top section-padding bg-black">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-credit-card-1"></i></span>
                  <span class="text-custom-white">{{'footer.100%Payment.label' | translate}}<br>{{'footer.Secured.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-wallet-1"></i></span>
                  <span class="text-custom-white">{{'footer.SupportLots.label' | translate}}<br> {{'footer.OfPayments.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6 mb-sm-20">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-help"></i></span>
                  <span class="text-custom-white">{{'footer.24Hours7days.label' | translate}}<br>{{'footer.Support.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-truck"></i></span>
                  <span class="text-custom-white">{{'footer.FreeDelivery.label' | translate}}<br>{{'footer.with.label' | translate}} $50</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-guarantee"></i></span>
                  <span class="text-custom-white">{{'footer.BestPrice.label' | translate}}<br>{{'footer.Guaranteed.label' | translate}}</span>
              </div>
          </div>
          <div class="col-md-2 col-sm-4 col-6">
              <div class="icon-box"> <span class="text-light-green"><i class="flaticon-app-file-symbol"></i></span>
                  <span class="text-custom-white">{{'footer.MobileApps.label' | translate}}<br>{{'footer.Ready.label' | translate}}</span>
              </div>
          </div>
      </div>
  </div>
</div> -->
<!-- <footer class="section-padding bg-light-theme pt-0 u-line bg-black">
  <div class="u-line instagram-slider swiper-container">
      <ul class="hm-list hm-instagram swiper-wrapper">
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-3.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-1.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-2.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-4.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-5.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-6.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-7.jpg" alt="instagram"></a>
          </li>
          <li class="swiper-slide">
              <a href="#"><img src="assets/img/restaurants/250x200/insta-8.jpg" alt="instagram"></a>
          </li>
      </ul>
  </div>
  <div class="container-fluid">
      <div class="row">
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-contact">
                  <h6 class="text-custom-white">Need Help</h6>
                  <ul>
                      <li class="fw-600"><span class="text-light-white">Call Us</span> <a href="tel:" class="text-custom-white">+(347) 123 456 789</a>
                      </li>
                      <li class="fw-600"><span class="text-light-white">Email Us</span> <a href="mailto:" class="text-custom-white">demo@domain.com</a>
                      </li>
                      <li class="fw-600"><span class="text-light-white">Join our twitter</span> <a href="#" class="text-custom-white">@quickmunch</a>
                      </li>
                      <li class="fw-600"><span class="text-light-white">Join our instagram</span> <a href="#" class="text-custom-white">@quickmunch</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-custom-white">Get to Know Us</h6>
                  <ul>
                      <li><a href="#" class="text-light-white fw-600">About Us</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Blog</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Socialize</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Quickmunch</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Perks</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-custom-white">Let Us Help You</h6>
                  <ul>
                      <li><a href="#" class="text-light-white fw-600">Account Details</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Order History</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Find restaurant</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Login</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Track order</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-custom-white">Doing Business</h6>
                  <ul>
                      <li><a href="#" class="text-light-white fw-600">Suggest an Idea</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Be a Partner restaurant</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Create an Account</a>
                      </li>
                      <li><a href="#" class="text-light-white fw-600">Help</a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-links">
                  <h6 class="text-custom-white">Download Apps</h6>
                  <div class="appimg">
                      <a href="#">
                          <img src="assets/img/playstore.jpg" class="img-fluid" alt="app logo">
                      </a>
                  </div>
                  <div class="appimg">
                      <a href="#">
                          <img src="assets/img/appstore.jpg" class="img-fluid" alt="app logo">
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xl col-lg-4 col-md-4 col-sm-6">
              <div class="footer-contact">
                  <h6 class="text-custom-white">Newsletter</h6>
                  <form class="subscribe_form">
                      <div class="input-group">
                          <input type="text" class="form-control form-control-submit" name="email" placeholder="Enter your email">
                          <span class="input-group-btn">
                <button class="btn btn-second btn-submit" type="button"><i class="fas fa-paper-plane"></i></button>
           </span>
                      </div>
                  </form>
              </div>
          </div>
          <div class="col-md-12">
              <div class="ft-social-media">
                  <h6 class="text-center text-light-black">Follow us</h6>
                  <ul>
                      <li> <a href="#"><i class="fab fa-facebook-f"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-twitter"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-instagram"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-pinterest-p"></i></a>
                      </li>
                      <li> <a href="#"><i class="fab fa-youtube"></i></a>
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</footer> -->
<div class="copyright bg-black">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-4 text-center medewithlove align-self-center">
              <a href="javascript:void(0)" class="text-custom-white">{{'footer.MadeWithReal.label' | translate}} <i class="fas fa-heart"></i> {{'footer.line2u.label' | translate}}</a>
            </div>
            <div class="col-lg-4">
                <div class="payment-logo mb-md-20"> <span class="text-light-white fs-14 mr-3">{{'footer.WeAreAccept.label' | translate}}</span>
                    <div class="payemt-icon">
                        <img style="width: 50px;height: 30px;" [src]="CASH_IMAGE" alt="#">
                        <img style="width: 50px;height: 30px;" [src]="LINE_PAY_IMAGE" alt="#">
                    </div>
                </div>
            </div>
          <div class="col-lg-4">
              <div class="copyright-text"> <span class="text-light-white">© <a href="#" class="text-light-white">{{'footer.line2u.label' | translate}}</a> - {{'footer.year.label' | translate}} | {{'footer.AllRightReserved.label' | translate}}</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- footer -->