<!-- 

<swiper
[slidesPerView]="3"
[loop]="true"
[navigation]="true"
[autoplay]="{ delay: 2000, disableOnInteraction: false }"
[pagination]="{ clickable: true, dynamicBullets: true }"
>
<ng-container  *ngFor="let item of news; let i = index">
<ng-template  swiperSlide>


      <div class="card shadow-sm">
        <a  [href]="'home/news-detail/' + item.id" >
          <img  style="  display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;" [src]="imagePath(item.photoPath)" [alt]="item.subject" loading="lazy" />
        </a>
        <div class="card-body">
          <p class="card-text">{{item.subject}}</p>
          <p class="card-text">{{item.newsDate | date: "yyyy-MM-dd"}}</p>
          <p></p>
         
        </div>
      </div>
  
</ng-template>
</ng-container>
</swiper> -->