/* @charset "UTF-8";
@import "../../../../../assets/css/food2.css";  */
/* @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap"); */

body {
  background-color: #eeeeee;
  font-family: "Open Sans", serif;
}
.payment-option-tab>.nav>.nav-item {
  flex: 0 0 100% !important;
  max-width: 50%;
}
.check
{
    margin:0px auto;
    width:50px;
    height:50px;
    border-radius:100%;
    background:#fff;
    text-align:center;
}
.primary-btn {
  color: #fff;
  background-color: #285fa7;
  border-color: #285fa7;
}
.check i
{
    vertical-align:middle;
    line-height:50px;
    font-size:30px;
}
.content 
{
    text-align:center;
}

.content  h1
{
    font-size:25px;
    padding-top:25px;
}

.content a
{
    width:200px;
    height:35px;
    color:#fff;
    border-radius:30px;
    padding:5px 10px;
    background:rgba(255,102,0,1);
    transition:all ease-in-out 0.3s;
}

.content a:hover
{
    text-decoration:none;
    background:#000;
}
.payment
{
  border:1px solid #f2f2f2;
  height:280px;
  border-radius:20px;
  background:#fff;
}
.payment_header
{
  background:rgba(255,102,0,1);
  padding:20px;
  border-radius:20px 20px 0px 0px;
  
}
@media (max-width: 576px) {
  .checkout-product .img-name-value .product-img {
    width: 100px !important;
    height: 100px !important;
  }

  .badge-danger {
    font-size: 15px;
  }
  .checkout-product  {
    font-size: 18px;
  }

}

