<ngx-spinner [fullScreen]="true" type="square-jelly-box" size="medium">
  <p class="loading">Loading data...</p>
</ngx-spinner>

<app-navbar></app-navbar>

<section class="checkout-page section-padding bg-light-theme">
  <div class="container">
    <div class="row">
      <!--  -->
      <ng-container *ngIf="trackingData?.length === 0; else elseTemplate">

        <div  class="col-md-12 mx-auto mt-5">
          <div class="payment">
             <div class="payment_header">
                <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
             </div>
             <div class="content">
                <h1>{{'Tracking.Empty.label' | translate}} !</h1>
                <a href="/home">{{'Tracking.ContinueShopping.label' | translate}}</a>
             </div>

          </div>
        </div>
      </ng-container>
      <ng-template #elseTemplate>
        <ng-container *ngFor="let item of trackingData; let i=index">
          <div class="col-md-12 padding-tb-10">
            <div class="recipt-sec padding-20 ">
              <div class="recipt-name title u-line full-width mb-xl-20">
                <div class="recipt-name-box">
                  <h6 class="title text-light-white"  style="font-size: 10px;">
                    {{'Your.Order.label' | translate}} #{{item.orderID}}
                    <!-- <span class="text-light-black"></span> -->
                  </h6>
                    <p class="title text-light-white" style="font-size: 10px;">
                      {{item.orderDate | date:'MMM d, y, h:mm a'}}
                    </p>
                </div>
              </div>
              <div class="u-line mb-xl-20">
                <ng-container *ngFor="let item_store of item.list_store; let i=index">
                  <div class="row">
                    <div class="col-lg-12">
                      <p class="title text-light-white">
                        <!-- <span class="text-light-black">{{item_store.storeName}} </span>  -->
                        <span class="badge badge-danger">
                          {{item_store.storeName}}
                        </span>
                      </p>
                    </div>
                    <div class="col-lg-12">
                      <ng-container *ngFor="let item_product of item_store.list_products; let y=index">
                        <div class="checkout-product">
                          <div class="img-name-value">
                            <div class="product-img">
                              <a routerLink="/orderdetails">
                                <img [src]="imagePath(item_product.photoPath)" style="width: 100px;height: 100px;" alt="#">
                              </a>
                            </div>
                            <div class="product-value"> <span class="text-light-white">{{item_product.qty}}</span>
                            </div>
                            <div class="product-name">
                              <span>
                                <a routerLink="/orderdetails" class="text-light-white">{{item_product.productName}}</a>
                              </span>
                              <span *ngIf="item_product.productSize > 0" class="text-light-white" >
                                <p>{{'Size' | translate}}: {{item_product.productSizeTitle}}</p>
                                <p>{{'Topping' | translate}}: {{item_product.productOptionTitle}}</p>
                              </span>
                            </div>
                          </div>
                          <div class="price"> <span class="text-light-white">${{item_product.productOfAllPrice}}</span>
                          </div>
                        </div>
                      </ng-container>
                    </div>
                  </div>
                </ng-container>

              </div>
              <div class="row">
                <div class="col-lg-7">

                </div>
                <div class="col-lg-5">

                  <div class="total-price padding-tb-10">
                    <h6 class="title text-light-white">{{'Tracking.Total.lable' | translate}}: <span>${{item.orderTotal}}</span></h6>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </ng-container>
      </ng-template>

    </div>
  </div>
</section>


<app-footer2></app-footer2>
