<!-- <section class="content" style="padding: 15px">
    <div class="error-page">


<CENTER>

      <h2 class="headline text-warning"><i class="fas fa-exclamation-triangle text-warning"></i> 404</h2>
 
      <div class="error-content">
        <h3> 無法找到此頁面或功能，或無權限存取　！</h3>
        <h3>  Oops! Page not found</h3>



      </div>



</CENTER>


    </div>
  </section> -->

  <app-navbar></app-navbar>
<section class="section-padding errorpage">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7 text-center">
                <img src="assets/img/banner/banner-2.jpg" alt="img" />
            </div>
            <div class="col-lg-5 text-center">
                <div class="error-texts relative">
                    <h1>404</h1>
                    <h3>無法找到此頁面或功能，或無權限存取!</h3>
                    <h3>Ooops! That page doesn't exist!</h3>
                    <p>This file May Have Been Moved or Deleted. Be Sure to Check Your Spelling.</p>
                    <a style="cursor: pointer;" routerLink="/home" class="btn-second btn-submit">Back to Home</a>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footer1></app-footer1>
