.header-mobile {
    background-color: #ffffff;
}

.mobile-menu {
    position: relative;
}

.mobile-menu .mobile-logo {

    position: absolute;

    left: 50%;

    -webkit-transform: translate(-50%, -50%);

    -ms-transform: translate(-50%, -50%);

    transform: translate(-50%, -50%);

    top: 25px;

    text-align: center;
}

.mobile-menu .mobile-logo img {

    width: 55%;
}

.mobile-menu .mobile-search {
    position: absolute;
    right: 15px;
    top: 13px;
    font-size: 22px;
}

.mobile-menu .search-form {
    display: none;
    overflow: hidden;
    position: absolute;
    right: 5px;
    top: 65px;
    -webkit-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: height;
    -o-transition-property: height;
    transition-property: height;
    height: 0;
    z-index: 9999;
}

.mobile-menu .search-form.open {
    display: block;
    position: absolute;
    height: 50px;
}

#search-form {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 450px;
}

#search-form input {
    background: #f8f8f8 none repeat scroll 0 0;
    border: 1px solid #e9e9e9;
    color: #666666;
    float: left;
    font-size: 14px;
    height: 45px;
    padding: 0 50px 0 20px;
    width: 100%;
}

#search-form button {
    background: #f8f8f8 none repeat scroll 0 0;
    border: medium none;
    color: #777777;
    font-size: 16px;
    height: 65%;
    width: 100%;
    position: absolute;
    right: 12px;
    top: 8px;
    line-height: 7px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 30px;
    border-radius: 50px;
}

.menu_padding-1 {
    margin: 0px 15px 0px 0px;
}

.funtion-box {
    border-left: 1.5px solid rgba(0, 0, 0, 0.1);
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
}

.funtion-box ul>li {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.funtion-box ul li a i {
    font-size: 17px;
    margin-left: 5px;
}

header .header-bottom li a {
    color: #424141;
    padding: 10px 15px 10px 0;
}