
<div class="main-content" id="main-text">

  <div class="sidebar-content">

    <div style="color: transparent;"  routerLink="/mobile/account">{{ 'MOBILE_MY_LINE_USER' | translate }}</div>

    <div class="line"></div>
    <!-- <div class="flex-container-bio">
      <div routerLink="/banner">{{ 'BANNER' | translate }}</div>
    </div>

    <div class="line"></div>
    <div class="flex-container-bio">
      <div routerLink="/user-new">{{ 'NEWS' | translate }}</div>
    </div> -->

    <div class="flex-container-bio mr-mobile">
      <div routerLink="/user-login">{{ 'LOGIN_REGISTER' | translate }}</div>
    </div>

    <div  class="flex-container-bio-desktop">
      <div routerLink="/help-guid">{{ 'HELP_GUID' | translate }}</div>
    </div>

    <div  class="flex-container-bio mr-mobile">
      <div routerLink="/privacy">{{ 'PRIVACY POLICY' | translate }}</div>
    </div>
  </div>
</div>

