<nav aria-label="breadcrumb" class="mobile-nav">
  <ol class="breadcrumb mobile-breadcrumb">
    <li class="breadcrumb-item"><a href="mobile/home">{{'Home' | translate}}</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{'User Profile' | translate}}</li>
  </ol>
</nav>
<div class="wrapper">
  <app-back-previous-page></app-back-previous-page>
  <div class="main-content" id="main-text">
    <div class="row p-2">
      <div class="col-12 text-center user-profile">
        <div class="kv-avatar">
          <div class="file-loading">
            <input
              id="avatar-1"
              name="avatar-1"
              (change)="onFileChangeLogo($event)"
              type="file"
              required
            />
          </div>
        </div>
        <div class="kv-avatar-hint">
          <small>{{ "Select file < 5000 KB" | translate }}</small>
        </div>
      </div>
     
      </div>
      <div class="row p-2">
    
        <div class="col-12">
          <div class="form-group">
            <label for="landLordNo">{{ "SITE_ID" | translate }}</label>
            <span  style="color: red">(*)</span>
            <!-- <span class="max-length">
              ( {{ "Text length" | translate }} <= 20 )</span
            > -->
    
            <input
              [(ngModel)]="model.siteId"
              type="text"
              class="form-control"
            />
          </div>
        </div>
    
        <div class="col-12">
          <div class="form-group">
            <label for="landLordName">{{ "SITE_NAME" | translate }}</label>
            <span  style="color: red">(*)</span>
            <!-- <span class="max-length">
              ( {{ "Text length" | translate }} <= 20 )</span
            > -->
    
            <input
              [(ngModel)]="model.siteName"
              type="text"
              class="form-control"
            />
          </div>
        </div>
        
        <div class="col-12">
          <div class="form-group">
            <label for="landLordSex">{{ "SITE_TEL" | translate }}</label>
            <span  style="color: red">(*)</span>
            <input
              (keypress)="numberOnly($event)"
              [(ngModel)]="model.siteTel"
              type="text"
              class="form-control"
            />
           
          </div>
        </div>
        
        <!-- <div class="col-12">
          <div class="form-group">
            <label for="landLordSex">{{ "LINE_OFFICIAL_ID" | translate }}</label>
            <span  style="color: red">(*)</span>
            <input
              [(ngModel)]="model.lineOfficialId"
              maxlength="20"
              type="text"
              class="form-control"
            />
           
          </div>
        </div> -->
        <div class="col-12">
          <div class="form-group">
            <label for="landLordSex">{{ "LINE_BOT_ID" | translate }}</label>
            <span  style="color: red">(*)</span>
            <input
              [(ngModel)]="model.lineBotId"
              type="text"
              class="form-control"
            />
           
          </div>
        </div>
        <div class="col-12">
          <div class="form-group">
            <label for="landLordSex">{{ "LINE_CHANNEL_ACCESS_TOKEN" | translate }}</label>
            <span  style="color: red">(*)</span>
            <input
              [(ngModel)]="model.lineChannelAccessToken"
              type="text"
              class="form-control"
            />
           
          </div>
        </div>
    
        <div class="col-12">
          <div class="form-group">
            <label for="landLordSex">{{ "LINE_OFFICIAL_QRCODE" | translate }}</label>
            <span  style="color: red">(*)</span>
          </div>
          <div class="col-12 text-center">
            
            <div class="kv-avatar2">
              <div class="file-loading">
                <input
                  id="avatar-2"
                  name="avatar-2"
                  (change)="onFileChangeLogoQR($event)"
                  type="file"
                  required
                />
              </div>
            </div>
            <div class="kv-avatar2-hint">
              <small>{{ "Select file < 5000 KB" | translate }}</small>
            </div>
    
          </div>
        </div>
    
        
      </div>
      <div class="row p-2">
        <div class="col-12">
        <button
          type="button"
          class="btn btn-light ml-2 float-right"
          (click)="cancel()"
        >
          {{ "CLOSE" | translate }}
        </button>
        <button
          type="submit"
          [disabled]="!model.siteId && !model.siteName || !model.siteTel  || !model.lineChannelAccessToken"
          (click)="save()"
          class="btn btn-primary float-right"
        >
          {{ "SAVE" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>

<!-- <h1>Profile Page</h1> -->