<div id="fb-root"></div>
<header class="header">
  <div class="pc-header sticker">
    <div class="top-menu">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navigation">
          <div class="container header-c">
            <a href="index.html" class="pc-logo" title="公視台語台">
            <img src="../assets/storage/settings/April2023/yXLlpu5uAwdPUP7dKkDi.png" alt="公視台語台">
            </a>
            <ul class="nav navbar-nav header-w">
              <li class="nav-item nav-items dropdown">
                <a href="index.html" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>公視台語台</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="introduction.html" target="_self"  class="nav-link">
                    <span>關於台語台</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items dropdown">
                <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>台語智識</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="taigi-words.html" target="_self"  class="nav-link">
                    <span>辭庫網</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXhDh338GiDRyljOLV_TiM4" target="_blank"  class="nav-link">
                    <span>看圖學台語</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvVgHumZgDjIGUsjx54VIDRn" target="_blank"  class="nav-link">
                    <span>逐工一句</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items dropdown">
                <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>新聞</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="news.html" target="_self"  class="nav-link">
                    <span>新聞網</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/@taigitaiPTS/featured" target="_blank"  class="nav-link">
                    <span>逐工新聞</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="tnv.html" target="_self"  class="nav-link">
                    <span>台灣新眼界</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PLUhuIg1OUuq6GoyXZHYb1r6lA2OObyYl1" target="_blank"  class="nav-link">
                    <span>新聞看南方</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvU88QkhBBvyJkKwuK2BO7Bi" target="_blank"  class="nav-link">
                    <span>文化相放伴</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" target="_blank"  class="nav-link">
                    <span>台灣記事簿</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/channel/UCmXeBW-dp-vp8dX519Iv56Q" target="_blank"  class="nav-link">
                    <span>青春咱的夢</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items dropdown">
                <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>節目</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXqK9m76O4SooUctUHs21qZ" target="_blank"  class="nav-link">
                    <span>欲看佗一齣</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/64782351F40A0.html" target="_self"  class="nav-link">
                    <span>收成 ê 彼一工</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/647702E5846AD.html" target="_self"  class="nav-link">
                    <span>穎仔穎仔育</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/6476E51A304D4.html" target="_self"  class="nav-link">
                    <span>WAWA哇！</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/6477023B563B5.html" target="_self"  class="nav-link">
                    <span>非常了不起</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/63C019F477D65.html" target="_self"  class="nav-link">
                    <span>無事 坐巴士</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/63AA5FDA59595.html" target="_self"  class="nav-link">
                    <span>HiHi導覽先生</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/63C01A1574FE8.html" target="_self"  class="nav-link">
                    <span>全家有智慧</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/6476CCC406893.html" target="_self"  class="nav-link">
                    <span>台語有影</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="http://web.pts.org.tw/php/programX/main.php?XCHANNEL=PTS2&amp;XMODE=WEEK" target="_blank"  class="nav-link">
                    <span>台語台節目表</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items ">
                <a href="https://www.youtube.com/watch?v=6KlRR_DGhmI" target="_blank"  class="nav-link">
                <span>直播</span>
                </a>
              </li>
            </ul>
            <div class="search-grup d-block">
              <div class="row">
                <div class="col-12 pl-0 text-right py-1 color-white">
                  <span class="text-warning">字型大小</span>
                  <a href="index.html" class="btn-font-size rounded-circle d-inline-flex justify-content-center adjust-font-size bg-light" title="小">小</a>
                  <a href="index.html"
                    class="btn-font-size rounded-circle d-inline-flex justify-content-center adjust-font-size bg-success text-white"
                    title="中">中</a>
                  <a href="index.html"
                    class="btn-font-size rounded-circle d-inline-flex justify-content-center adjust-font-size bg-light"
                    title="大">大</a>
                </div>
                <div class="col-3 pr-0 text-right">
                  <form action="https://www.taigitv.org.tw/search" method="post">
                    <input type="hidden" name="_token" value="GEWFRkJh30bDROk8FAW3NMcCpL74yD5QQp70nKZY">                                        <a href="#" class="search-btn" title="開啟搜尋按鈕">
                    <i class="fa fa-search" aria-hidden="true"></i>
                    <span class="d-none">搜尋</span>
                    </a>
                    <a class="dropdown-toggle lang-switch" href="#"
                      title="語言切換" id="lang" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false"><i class="fa fa-globe"
                      aria-hidden="true"></i><i
                      class="fa fa-caret-down" aria-hidden="true"></i><span
                      class="d-none">語言切換</span></a>
                    <div class="dropdown-menu" aria-labelledby="lang">
                      <a class="dropdown-item"
                        href="index.html"
                        title="切換做華文">台文</a>
                      <a class="dropdown-item"
                        href="index.html"
                        title="Switch to Chinese">華文</a>
                    </div>
                    <div class="input-group header-ser">
                      <input required type="text" name="keyword" title="Keyword"
                        class="form-control" placeholder="請輸入關鍵字..."
                        aria-label="請輸入關鍵字..."
                        aria-describedby="basic-addon2">
                      <div class="input-group-append">
                        <button class="btn" type="submit" title="搜尋">
                        <i class="fa fa-search" aria-hidden="true"></i>搜尋
                        </button>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="col-9 pl-0 text-right">
                  <a href="https://www.youtube.com/watch?v=6KlRR_DGhmI" title="Youtube" target="_blank"><img src="../assets/storage/social-icons/top-yt.png" alt="Youtube"></a>
                  <a href="https://www.facebook.com/ptstaiginews/" title="Facebook" target="_blank"><img src="../assets/storage/social-icons/top-fb.png" alt="Facebook"></a>
                  <a href="https://twitter.com/ptstaigi" title="Twitter" target="_blank"><img src="../assets/storage/social-icons/top-twi.png" alt="Twitter"></a>
                  <a href="https://www.instagram.com/kongsitaigitai/" title="Instagram" target="_blank"><img src="../assets/storage/social-icons/top-ig.png" alt="Instagram"></a>
                  <a href="https://portaly.cc/kongsitaigitai" title="Podcast" target="_blank"><img src="../assets/storage/social-icons/top-mic.png" alt="Podcast"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="mo-header">
    <div class="top-menu">
      <a href="index.html" class="logo" title="公視台語台">
      <img src="../assets/storage/settings/April2023/yXLlpu5uAwdPUP7dKkDi.png" alt="公視台語台">
      </a>
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" data-target="#navigation" data-control="navigation" data-toggle="collapse">
        <span class="icon-bar"><b class="d-none">Dash</b></span>
        <span class="icon-bar"><b class="d-none">Dash</b></span>
        <span class="icon-bar"><b class="d-none">Dash</b></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav header-w">
            <li class="nav-item nav-items dropdown">
              <a href="index.html" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>公視台語台</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="introduction.html" target="_self"  class="nav-link">
                  <span>關於台語台</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items dropdown">
              <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>台語智識</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="taigi-words.html" target="_self"  class="nav-link">
                  <span>辭庫網</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXhDh338GiDRyljOLV_TiM4" target="_blank"  class="nav-link">
                  <span>看圖學台語</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvVgHumZgDjIGUsjx54VIDRn" target="_blank"  class="nav-link">
                  <span>逐工一句</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items dropdown">
              <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>新聞</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="news.html" target="_self"  class="nav-link">
                  <span>新聞網</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/@taigitaiPTS/featured" target="_blank"  class="nav-link">
                  <span>逐工新聞</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="tnv.html" target="_self"  class="nav-link">
                  <span>台灣新眼界</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PLUhuIg1OUuq6GoyXZHYb1r6lA2OObyYl1" target="_blank"  class="nav-link">
                  <span>新聞看南方</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvU88QkhBBvyJkKwuK2BO7Bi" target="_blank"  class="nav-link">
                  <span>文化相放伴</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" target="_blank"  class="nav-link">
                  <span>台灣記事簿</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/channel/UCmXeBW-dp-vp8dX519Iv56Q" target="_blank"  class="nav-link">
                  <span>青春咱的夢</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items dropdown">
              <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>節目</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXqK9m76O4SooUctUHs21qZ" target="_blank"  class="nav-link">
                  <span>欲看佗一齣</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/64782351F40A0.html" target="_self"  class="nav-link">
                  <span>收成 ê 彼一工</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/647702E5846AD.html" target="_self"  class="nav-link">
                  <span>穎仔穎仔育</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/6476E51A304D4.html" target="_self"  class="nav-link">
                  <span>WAWA哇！</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/6477023B563B5.html" target="_self"  class="nav-link">
                  <span>非常了不起</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/63C019F477D65.html" target="_self"  class="nav-link">
                  <span>無事 坐巴士</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/63AA5FDA59595.html" target="_self"  class="nav-link">
                  <span>HiHi導覽先生</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/63C01A1574FE8.html" target="_self"  class="nav-link">
                  <span>全家有智慧</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/6476CCC406893.html" target="_self"  class="nav-link">
                  <span>台語有影</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="http://web.pts.org.tw/php/programX/main.php?XCHANNEL=PTS2&amp;XMODE=WEEK" target="_blank"  class="nav-link">
                  <span>台語台節目表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items ">
              <a href="https://www.youtube.com/watch?v=6KlRR_DGhmI" target="_blank"  class="nav-link">
              <span>直播</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<main class="">
  <h1 class="d-none">公視台語台-首頁</h1>
  <!-- Banner -->
  <div class="kv_slider">
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/watch?v=j2x1iDCQj6E&amp;list=PL9X_7mTn8zvWd54KuSkxmdl9eDn3oI5e6" target="" title="俗女養成記2">
      <img class="w-100" src="../assets/storage/banners/September2023/MsXyC7y93LV9Z5oPSM6e.jpg" alt="俗女養成記2">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.facebook.com/profile.php?id=61550804234857" target="" title="這是台灣款">
      <img class="w-100" src="../assets/storage/banners/September2023/bSrk4iIfGVSc2f6WWMi4.jpg" alt="這是台灣款">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/@ptsbus/videos" target="_blank" title="【無事坐巴士】 後班車J個力">
      <img class="w-100" src="../assets/storage/banners/September2023/NNCbQQHQHZ1LpmO1j9H3.jpg" alt="【無事坐巴士】 後班車J個力">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvW5v_BtWlBsmnQLW7n-w-25" target="_blank" title="收成ê彼一工 第2季">
      <img class="w-100" src="../assets/storage/banners/June2023/Z83nBPkcB4Tr4MzX0fRW.jpg" alt="收成ê彼一工 第2季">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvWvCxbSJ-w6QQHZsvfYfDdp" target="_blank" title="穎仔穎仔育">
      <img class="w-100" src="../assets/storage/banners/August2023/gBlebRld07tVeyJ2qsbH.jpg" alt="穎仔穎仔育">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/channel/UChnu3jKAuTVMzljjpAKyF6A" target="_blank" title="HiHi導覽先生">
      <img class="w-100" src="../assets/storage/banners/June2023/4B7a5ggwIWTRPxyR8QIX.jpg" alt="HiHi導覽先生">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.facebook.com/TGTculturalshow" target="" title="文化相放伴">
      <img class="w-100" src="../assets/storage/banners/July2023/n5CuWJL8PjfyKt46mLqE.jpg" alt="文化相放伴">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.facebook.com/TaiwanSmartFamily" target="_blank" title="全家有智慧_第6季">
      <img class="w-100" src="../assets/storage/banners/September2023/LiYBETkbR91Y2K1W19aN.jpg" alt="全家有智慧_第6季">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" target="_blank" title="台灣記事簿">
      <img class="w-100" src="../assets/storage/banners/September2023/SjxLeyoQzRPbwsUDHxvU.jpg" alt="台灣記事簿">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="events/64E5CC3C01BE3.html" target="" title="咱的歌：2023台語囡仔歌創作徵選">
      <img class="w-100" src="../assets/storage/banners/September2023/lCLixpcfT4L3wBeWAWxd.jpg" alt="咱的歌：2023台語囡仔歌創作徵選">
      </a>
    </div>
  </div>
  <div class="container d-block d-lg-none">
    <div class="kv_slider_mo">
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/watch?v=j2x1iDCQj6E&amp;list=PL9X_7mTn8zvWd54KuSkxmdl9eDn3oI5e6" title="俗女養成記2" target="">
        <img src="../assets/storage/banners/September2023/MsXyC7y93LV9Z5oPSM6e.jpg" alt="俗女養成記2">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.facebook.com/profile.php?id=61550804234857" title="這是台灣款" target="">
        <img src="../assets/storage/banners/September2023/bSrk4iIfGVSc2f6WWMi4.jpg" alt="這是台灣款">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/@ptsbus/videos" title="【無事坐巴士】 後班車J個力" target="_blank">
        <img src="../assets/storage/banners/September2023/NNCbQQHQHZ1LpmO1j9H3.jpg" alt="【無事坐巴士】 後班車J個力">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvW5v_BtWlBsmnQLW7n-w-25" title="收成ê彼一工 第2季" target="_blank">
        <img src="../assets/storage/banners/June2023/Z83nBPkcB4Tr4MzX0fRW.jpg" alt="收成ê彼一工 第2季">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvWvCxbSJ-w6QQHZsvfYfDdp" title="穎仔穎仔育" target="_blank">
        <img src="../assets/storage/banners/August2023/gBlebRld07tVeyJ2qsbH.jpg" alt="穎仔穎仔育">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/channel/UChnu3jKAuTVMzljjpAKyF6A" title="HiHi導覽先生" target="_blank">
        <img src="../assets/storage/banners/June2023/4B7a5ggwIWTRPxyR8QIX.jpg" alt="HiHi導覽先生">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.facebook.com/TGTculturalshow" title="文化相放伴" target="">
        <img src="../assets/storage/banners/July2023/n5CuWJL8PjfyKt46mLqE.jpg" alt="文化相放伴">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.facebook.com/TaiwanSmartFamily" title="全家有智慧_第6季" target="_blank">
        <img src="../assets/storage/banners/September2023/LiYBETkbR91Y2K1W19aN.jpg" alt="全家有智慧_第6季">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" title="台灣記事簿" target="_blank">
        <img src="../assets/storage/banners/September2023/SjxLeyoQzRPbwsUDHxvU.jpg" alt="台灣記事簿">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="events/64E5CC3C01BE3.html" title="咱的歌：2023台語囡仔歌創作徵選" target="">
        <img src="../assets/storage/banners/September2023/lCLixpcfT4L3wBeWAWxd.jpg" alt="咱的歌：2023台語囡仔歌創作徵選">
        </a>
      </div>
    </div>
  </div>
  <!-- End banner -->
  <!-- News -->
  <div class="section-news ids1 ids">
    <div class="container">
      <div class="idsti">
        <h2>頭條新聞</h2>
        <p>踮臺灣、用臺灣話、寫臺語文，報新聞。</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="news/10910.html" class="s1c1" title="藍營喝恢復黨籍、改爭取不分區 郭台銘直幌頭">
            <div class="img-wrap">
              <div class="img-item">
                <img src="../assets/storage/api-news/October2023/E23vLG1W29XCEh2GbJAO.png" alt="藍營喝恢復黨籍、改爭取不分區 郭台銘直幌頭">
              </div>
            </div>
            <div class="word-item">
              <img src="../assets/images/s1-play.png" alt="播放圖示">
              <div class="">
                <h3>藍營喝恢復黨籍、改爭取不分區 郭台銘直幌頭</h3>
                <p>2023-10-02</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <div class="s1c2">
            <a href="news/10912.html" class="s1c2-a" title="越南移工佇廢宿舍種大麻 警方以毒品條例送辦">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/VIaDYY0N1wrcBzBC0upV.png" alt="越南移工佇廢宿舍種大麻 警方以毒品條例送辦">
                </div>
              </div>
              <div class="word-item">
                <h3>越南移工佇廢宿舍種大麻 警方以毒品條例送辦</h3>
                <p>2023-10-02</p>
              </div>
            </a>
            <a href="news/10911.html" class="s1c2-a" title="西班牙夜店火燒13死、濟人嗾著傷 14人下落不明">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/zacxAvcW05S43cOofyeI.png" alt="西班牙夜店火燒13死、濟人嗾著傷 14人下落不明">
                </div>
              </div>
              <div class="word-item">
                <h3>西班牙夜店火燒13死、濟人嗾著傷 14人下落不明</h3>
                <p>2023-10-02</p>
              </div>
            </a>
            <a href="news/10889.html" class="s1c2-a" title="藍營喝恢復黨籍、改爭取不分區？ 郭台銘直幌頭">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/OVKymlBgKivDnjuLMlUw.png" alt="藍營喝恢復黨籍、改爭取不分區？ 郭台銘直幌頭">
                </div>
              </div>
              <div class="word-item">
                <h3>藍營喝恢復黨籍、改爭取不分區？ 郭台銘直幌頭</h3>
                <p>2023-10-01</p>
              </div>
            </a>
            <a href="news/10888.html" class="s1c2-a" title="「小犬」上緊拜二海警 拜三、拜四外圍環流影響落雨">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/ob63IWaJJ9xEbbpzbXGj.png" alt="「小犬」上緊拜二海警 拜三、拜四外圍環流影響落雨">
                </div>
              </div>
              <div class="word-item">
                <h3>「小犬」上緊拜二海警 拜三、拜四外圍環流影響落雨</h3>
                <p>2023-10-01</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="a-more">
        <a href="news.html" class="more-btn" title="查看頭條新聞">
        進一步了解<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- End news -->
  <!-- Onair -->
  <div class="ids2 ids">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="idsti">
            <h2>節目表</h2>
          </div>
          <a href="http://web.pts.org.tw/php/programX/main.php?XCHANNEL=PTS2&amp;XMODE=WEEK" target="_blank" class="row" title="節目表">
            <div class="col-lg-6 col-12 px-lg-0">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/live-programs/May2023/M99RqUVWML5FJIuiAwF8.jpg" alt="下晡新聞">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-12 s2c1">
              <div class="s2c1-top">
                <p>15:00</p>
                <h3>下晡新聞</h3>
              </div>
              <div class="d-flex s2c1-bot">
                <div class="s2c1-btext pc-s">
                  <h3>後班車J個力</h3>
                </div>
                <div class="text-right ml-auto mr-2">
                  <i class="fa fa-caret-right" aria-hidden="true"></i>
                  <span>16:00</span><br>
                  <button class="s2c1-more pr-0">進一步了解
                  <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                  </button>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <div class="idsti">
            <h2>佇咧網路收看</h2>
          </div>
          <a class="row" title="Youtube頻道內容">
            <div class="col-lg-6 col-12 px-lg-0">
              <div class="video-c">
                <iframe width="100%" src="https://www.youtube.com/watch?v=lHGLV97JMVo&list=PLjHNC_heNf79SkdmaWdK-ouomA1eww7xm&index=3&ab_channel=VieChannel-MUSIC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
              </div>
            </div>
            <div class="col-lg-6 col-12 s2c1">
              <div class="s2c1-top">
                <p><span>Live</span></p>
                <h3>公視台語台網路直播</h3>
              </div>
              <div class="s2c1-bot">
                <div class="s2c1-btext pc-s">
                  <div class="mr-10">
                    ※
                  </div>
                  <h3>無版權節目時段會放送替代節目</h3>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Onair -->
  <!-- Program -->
  <div class="ids3 ids">
    <div class="container">
      <div class="idsti">
        <h2>精選節目</h2>
        <p>一系列用心精選的節目，提供上好的娛樂體驗。</p>
      </div>
    </div>
    <div class="s3-slider">
      <div class="card border-0 s3-a">
        <div class="img-item img-wrap">
          <img src="../assets/storage/news/July2023/Jrq8AUzjUsZhn6AAyb0Z.jpg"
            alt="《上媠 ê 花蕊》">
        </div>
        <div class="text-center word-item">
          <a href="programs/64A3D9D6BF741.html" title=""
            class="stretched-link">
            <h3>
              《上媠 ê 花蕊》
            </h3>
          </a>
        </div>
      </div>
      <div class="card border-0 s3-a">
        <div class="img-item img-wrap">
          <img src="../assets/storage/news/August2023/0guKYCUFZDvXUZ6ygHNO.jpg"
            alt="《新聞看南方》">
        </div>
        <div class="text-center word-item">
          <a href="programs/647EEE489233F.html" title=""
            class="stretched-link">
            <h3>
              《新聞看南方》
            </h3>
          </a>
        </div>
      </div>
      <div class="card border-0 s3-a">
        <div class="img-item img-wrap">
          <img src="../assets/storage/news/June2023/8jV323JChiSviRoLVLhp.jpg"
            alt="《收成 ê 彼一工》">
        </div>
        <div class="text-center word-item">
          <a href="programs/64782351F40A0.html" title=""
            class="stretched-link">
            <h3>
              《收成 ê 彼一工》
            </h3>
          </a>
        </div>
      </div>
      <div class="card border-0 s3-a">
        <div class="img-item img-wrap">
          <img src="../assets/storage/news/June2023/NAOO9vc1qtXgWxe4ek2X.jpg"
            alt="《食老哺塗豆》">
        </div>
        <div class="text-center word-item">
          <a href="programs/64789C1FE0D2F.html" title=""
            class="stretched-link">
            <h3>
              《食老哺塗豆》
            </h3>
          </a>
        </div>
      </div>
      <div class="card border-0 s3-a">
        <div class="img-item img-wrap">
          <img src="../assets/storage/news/June2023/FX6NYwLDaXdur8BfvaoC.jpg"
            alt="《文化相放伴》">
        </div>
        <div class="text-center word-item">
          <a href="programs/647EEB284E244.html" title=""
            class="stretched-link">
            <h3>
              《文化相放伴》
            </h3>
          </a>
        </div>
      </div>
      <div class="card border-0 s3-a">
        <div class="img-item img-wrap">
          <img src="../assets/storage/news/May2023/Nbw1ufNyEtKNYHyLLusU.png"
            alt="《非常了不起》">
        </div>
        <div class="text-center word-item">
          <a href="programs/6477023B563B5.html" title=""
            class="stretched-link">
            <h3>
              《非常了不起》
            </h3>
          </a>
        </div>
      </div>
    </div>
    <div class="a-more">
      <a href="programs.html" class="more-btn" title="查看精選節目">
      進一步了解<i class="fa fa-arrow-right" aria-hidden="true"></i>
      </a>
    </div>
  </div>
  <!-- End Program -->
  <!-- Taigi Word -->
  <div class="ids4 ids">
    <div class="container">
      <div class="s4-con" >
        <div class="s4-ti">
          <h1>台語新詞辭庫</h1>
          <p>台語台收集生活中的新興詞彙<br>定期邀請專家學者開會討論<br>建議適當的台語講法<br>建立台語新詞的詞庫<br>開放予民眾查詢使用</p>
        </div>
        <div class="s4-btng">
          <div href="#" class="btngaa" style="background: #ffffff" >
            <h3>
              <a href="taigi-words/115.html" title="窯烘麭">窯烘麭</a>
            </h3>
            <div class="row">
              <div class="col-4 pr-0">音讀：</div>
              <div class="col-8 pl-0">
                <p class="eng mb-1">
                  <span class="">iô-hang-pháng</span>
                  <a class="taigi-words-voice-player" id="roman_voice136" data-content="https://storage.googleapis.com/prod_taigitv_org_tw/storage/taigi-word-voices/91窯烘麭.wav" href="#" title="播放讀音"><i class="fa fa-play" aria-hidden="true"></i></a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 pr-0">對應華語：</div>
              <div class="col-8 pl-0">
                <span class="">窯烤麵包</span>
              </div>
            </div>
          </div>
          <div href="#" class="btngaa" style="background: #ffffff" >
            <h3>
              <a href="taigi-words/22.html" title="生湠地">生湠地</a>
            </h3>
            <div class="row">
              <div class="col-4 pr-0">音讀：</div>
              <div class="col-8 pl-0">
                <p class="eng mb-1">
                  <span class="">senn-thuànn-tè</span>
                  <a class="taigi-words-voice-player" id="roman_voice44" data-content="https://storage.googleapis.com/prod_taigitv_org_tw/storage/taigi-word-voices/62生湠地.wav" href="#" title="播放讀音"><i class="fa fa-play" aria-hidden="true"></i></a>
                </p>
                <p class="eng mb-1">
                  <span class="">sinn-thuànn-tuē</span>
                  <a class="taigi-words-voice-player" id="roman_voice112" data-content="https://storage.googleapis.com/prod_taigitv_org_tw/storage/taigi-word-voices/62生湠地-2.wav" href="#" title="播放讀音"><i class="fa fa-play" aria-hidden="true"></i></a>
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-4 pr-0">對應華語：</div>
              <div class="col-8 pl-0">
                <span class="">棲息地</span>
              </div>
            </div>
          </div>
        </div>
        <div class="s4-bot">
          <div class="s4-a">
            <a class="text-uppercase" href="taigi-words/tag/3405.html" title="#早頓店">#早頓店</a>
            <a class="text-uppercase" href="taigi-words/tag/3404.html" title="#早餐店">#早餐店</a>
            <a class="text-uppercase" href="taigi-words/tag/3403.html" title="#茶">#茶</a>
            <a class="text-uppercase" href="taigi-words/tag/3402.html" title="#飲料">#飲料</a>
            <a class="text-uppercase" href="taigi-words/tag/3401.html" title="#食品營養素">#食品營養素</a>
            <a class="text-uppercase" href="taigi-words/tag/3400.html" title="#節慶">#節慶</a>
            <a class="text-uppercase" href="taigi-words/tag/3399.html" title="#冊名">#冊名</a>
            <a class="text-uppercase" href="taigi-words/tag/3398.html" title="#書名">#書名</a>
            <a class="text-uppercase" href="taigi-words/tag/3397.html" title="#四秀仔">#四秀仔</a>
          </div>
        </div>
        <div class="a-more">
          <a href="taigi-words.html" class="more-btn" title="查看精選節目">
          前往辭庫<i class="fa fa-arrow-right" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- End Taigi Word -->
  <!-- Events -->
  <div class="ids5 ids">
    <div class="container">
      <div class="idsti">
        <h2>上新活動鬥相報</h2>
        <p>提供上新、上衝的各種活動資訊，每禮拜攏有更新</p>
      </div>
      <div class="s5-slider">
        <a href="events/64E5CC3C01BE3.html" class="s5-a" title="咱的歌：2023台語囡仔歌創作徵選">
          <div class="img-wrap">
            <div class="img-item">
              <img src="../assets/storage/news/September2023/wYINCfyVNSyK9sUaYsjy.jpg" alt="">
            </div>
          </div>
          <div class="word-item">
            <h3>咱的歌：2023台語囡仔歌創作徵選</h3>
            <p>2023-08-21</p>
          </div>
        </a>
        <a href="events/64CCBF0DBA5FE.html" class="s5-a" title="台語台出來káng(活動集錦)">
          <div class="img-wrap">
            <div class="img-item">
              <img src="../assets/storage/news/August2023/FKAWJ34AI3wThxpF8rjj.jpg" alt="">
            </div>
          </div>
          <div class="word-item">
            <h3>台語台出來káng(活動集錦)</h3>
            <p>2023-08-25</p>
          </div>
        </a>
        <a href="events/6440A8CB51B5F.html" class="s5-a" title="臺語台南部中心啟用典禮 (影音回顧)">
          <div class="img-wrap">
            <div class="img-item">
              <img src="../assets/storage/news/June2023/myxlSwX9AnVUyfSg3d12.jpg" alt="">
            </div>
          </div>
          <div class="word-item">
            <h3>臺語台南部中心啟用典禮 (影音回顧)</h3>
            <p>2023-06-02</p>
          </div>
        </a>
        <a href="events/63BF83FEEF530.html" class="s5-a" title="食老哺塗豆">
          <div class="img-wrap">
            <div class="img-item">
              <img src="../assets/storage/news/June2023/RahyfxrazeYvg7KX6HrA.jpg" alt="">
            </div>
          </div>
          <div class="word-item">
            <h3>食老哺塗豆</h3>
            <p>2023-03-03</p>
          </div>
        </a>
      </div>
      <div class="a-more">
        <a href="events.html" class="more-btn" title="查看精選節目">
        進一步了解<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>
  <!-- End Events -->
  <!-- Social -->
  <div class="ids6 ids">
    <div class="container">
      <div class="s6-ti">
        <h2>社群媒體平台</h2>
        <p>追蹤、訂閱阮的社群媒體平台，予你通好佇第一時間收著阮的上新資訊！</p>
      </div>
      <div class="s6-r">
        <div class="s6-iffb">
          <a class="twitter-timeline" href="https://twitter.com/ptstaigi?ref_src=twsrc%5Etfw">Tweets by ptstaigi</a> 
          <script async src="../platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
        <div class="s6-if2">
          <div class="s6-yt video-c">
            <iframe title="公視台與台Youtube頻道嵌入" width="100%" src="https://www.youtube.com/watch?v=lHGLV97JMVo&list=PLjHNC_heNf79SkdmaWdK-ouomA1eww7xm&index=3&ab_channel=VieChannel-MUSIC" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
          </div>
          <div class="s6-twi">
            <div class="fb-page" data-href="https://www.facebook.com/ptstaiginews" data-tabs="timeline,events" data-width="350" data-height="270" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
                <a href="https://www.facebook.com/facebook" title="公視台語台粉專嵌入">Facebook</a>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="s6-r2">
        <a href="https://www.youtube.com/channel/UCX6SRupi5lTDbIFJEOpReCQ" target="_blank" class="s6r2-a">
        <i class="fab fa-youtube" aria-hidden="true"></i><br>Youtube
        </a>
        <div class="s6-line"></div>
        <a href="https://www.facebook.com/ptstaiginews/" target="_blank" class="s6r2-a">
        <i class="fab fa-facebook" aria-hidden="true"></i><br>Facebook
        </a>
        <div class="s6-line"></div>
        <a href="https://twitter.com/ptstaigi" target="_blank" class="s6r2-a">
        <i class="fab fa-twitter" aria-hidden="true"></i><br>Twitter
        </a>
        <div class="s6-line"></div>
        <a href="https://www.instagram.com/kongsitaigitai/" target="_blank" class="s6r2-a">
        <i class="fab fa-instagram" aria-hidden="true"></i><br>Instagram
        </a>
        <div class="s6-line"></div>
        <a href="https://portaly.cc/kongsitaigitai" target="_blank" class="s6r2-a">
        <i class="fa fa-microphone" aria-hidden="true"></i><br>Podcast
        </a>
        <div class="s6-line"></div>
        <a href="https://www.threads.net/@kongsitaigitai" target="_blank" class="s6r2-a">
        <i class="fas fa-at" aria-hidden="true"></i><br>Threads
        </a>
      </div>
    </div>
  </div>
  <!-- End social -->
</main>
<footer class="footer">
  <div class="ft-top">
    <div class="container">
      <div class="row">
        <div class="ft-c col-lg col-6 ">
          <div class="ftc-ti">
            <h3><i class="fas fa-user-friends"></i> 公廣集團</h3>
          </div>
          <ul class="ft-ul">
            <li class="">
              <a href="index.html" target="_blank"  class="nav-link">
              <span>公視台語台</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.pts.org.tw/" target="_blank"  class="nav-link">
              <span>公共電視</span>
              </a>
            </li>
            <li class="">
              <a href="https://about.pts.org.tw/en/" target="_blank"  class="nav-link">
              <span>PTS Taiwan (English)</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.cts.com.tw/" target="_blank"  class="nav-link">
              <span>中華電視公司</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.hakkatv.org.tw/" target="_blank"  class="nav-link">
              <span>客家電視台</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ft-c col-lg col-6 ">
          <div class="ftc-ti">
            <h3><i class="fas fa-desktop"></i> 主題網站</h3>
          </div>
          <ul class="ft-ul">
            <li class="">
              <a href="https://news.pts.org.tw/" target="_blank"  class="nav-link">
              <span>公視新聞網</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.ptsplus.tv/" target="_blank"  class="nav-link">
              <span>公視+</span>
              </a>
            </li>
            <li class="">
              <a href="https://newslab.pts.org.tw/" target="_blank"  class="nav-link">
              <span>公視P#新聞實驗室</span>
              </a>
            </li>
            <li class="">
              <a href="https://4k.pts.org.tw/" target="_blank"  class="nav-link">
              <span>公視4K網站</span>
              </a>
            </li>
            <li class="">
              <a href="https://projects.pts.org.tw/homebook/" target="_blank"  class="nav-link">
              <span>公視遊戲本</span>
              </a>
            </li>
            <li class="">
              <a href="https://rnd.pts.org.tw/" target="_blank"  class="nav-link">
              <span>岩花館</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.parliamentarytv.org.tw/" target="_blank"  class="nav-link">
              <span>國會頻道轉播</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ft-c col-lg col-6 ">
          <div class="ftc-ti">
            <h3><i class="fas fa-user-tie"></i> 公視服務</h3>
          </div>
          <ul class="ft-ul">
            <li class="">
              <a href="https://info.pts.org.tw/關於公視" target="_blank"  class="nav-link">
              <span>公開資訊</span>
              </a>
            </li>
            <li class="">
              <a href="https://info.pts.org.tw/intro/howsee.html" target="_blank"  class="nav-link">
              <span>如何收看</span>
              </a>
            </li>
            <li class="">
              <a href="https://visit.pts.org.tw/" target="_blank"  class="nav-link">
              <span>參觀公視</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.peopo.org/" target="_blank"  class="nav-link">
              <span>PeoPo 公民新聞</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.pts.org.tw/student/" target="_blank"  class="nav-link">
              <span>公視實習</span>
              </a>
            </li>
            <li class="">
              <a href="https://info.pts.org.tw/租賃服務/rent" target="_blank"  class="nav-link">
              <span>租賃服務</span>
              </a>
            </li>
            <li class="">
              <a href="https://about.pts.org.tw/pr/career/" target="_blank"  class="nav-link">
              <span>公視徵才</span>
              </a>
            </li>
            <li class="">
              <a href="https://about.pts.org.tw/pr/tender/" target="_blank"  class="nav-link">
              <span>公開招標</span>
              </a>
            </li>
            <li class="">
              <a href="http://web.pts.org.tw/~web01/PTS/welfare.htm" target="_blank"  class="nav-link">
              <span>商品展示攤位申請</span>
              </a>
            </li>
            <li class="">
              <a href="https://npo.pts.org.tw/" target="_blank"  class="nav-link">
              <span>公益網</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ft-c col-lg col-6 ">
          <div class="ftc-ti">
            <h3><i class="fas fa-thumbs-up"></i> 觀眾服務</h3>
          </div>
          <ul class="ft-ul">
            <li class="">
              <a href="https://crm.pts.org.tw/" target="_blank"  class="nav-link">
              <span>線頂服務</span>
              </a>
            </li>
            <li class="">
              <a href="http://web.pts.org.tw/php/programX/main.php" target="_blank"  class="nav-link">
              <span>節目表</span>
              </a>
            </li>
            <li class="">
              <a href="http://web.pts.org.tw/php/mealc/main.php?XMAENO=236&amp;XMBENO=360" target="_blank"  class="nav-link">
              <span>節目申訴</span>
              </a>
            </li>
            <li class="">
              <a href="http://web.pts.org.tw/php/mealc/main.php?XMAENO=236&amp;XMBENO=361" target="_blank"  class="nav-link">
              <span>受理檢舉</span>
              </a>
            </li>
            <li class="">
              <a href="http://web.pts.org.tw/php/ecard/main.php" target="_blank"  class="nav-link">
              <span>卡片服務</span>
              </a>
            </li>
            <li class="">
              <a href="https://about.pts.org.tw/service/followpts.html" target="_blank"  class="nav-link">
              <span>社群/APP</span>
              </a>
            </li>
            <li class="">
              <a href="https://about.pts.org.tw/rss/index.html" target="_blank"  class="nav-link">
              <span>RSS</span>
              </a>
            </li>
            <li class="">
              <a href="https://about.pts.org.tw/service/terms.html" target="_blank"  class="nav-link">
              <span>網站服務條款</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.pts.org.tw/ptsfamily/" target="_blank"  class="nav-link">
              <span>公視各台頻道表</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.youtube.com/channel/UCXgIO9jJVsX5_2ideiSkfvA" target="_blank"  class="nav-link">
              <span>公視直播</span>
              </a>
            </li>
            <li class="">
              <a href="https://about.pts.org.tw/pr/station/" target="_blank"  class="nav-link">
              <span>收訊不良公告</span>
              </a>
            </li>
          </ul>
        </div>
        <div class="ft-c col-lg col-6 ">
          <div class="ftc-ti">
            <h3><i class="fas fa-shopping-cart"></i> 商品佮贊助</h3>
          </div>
          <ul class="ft-ul">
            <li class="">
              <a href="https://shop.pts.org.tw/" target="_blank"  class="nav-link">
              <span>公視商城</span>
              </a>
            </li>
            <li class="">
              <a href="https://friends.pts.org.tw/index.php" target="_blank"  class="nav-link">
              <span>贊助公視</span>
              </a>
            </li>
            <li class="">
              <a href="https://friends.pts.org.tw/business.php" target="_blank"  class="nav-link">
              <span>企業贊助</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="ft-bot">
    <div class="container">
      <div class="ft-br">
        <img src="../assets/storage/settings/April2023/1L3T7HAak4ywuj9l1hVC.png" alt="公視台語台">
        <div class="ft-bcont">
          <h4>財團法人公共電視文化事業基金會 公視臺語台</h4>
          <p>114台北市內湖區康寧路三段75巷100號</p>
          <p>客服專線: 02-87521600</p>
        </div>
        <div class="ftbr-copyright">
          <p>Taiwan Public Television Service Foundation. &copy; All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accept-cookie pt-3 d-none" style="background:#003460">
    <div class="container">
      <a type="button" class="close">
      <span aria-hidden="true">&times;</span>
      </a>
      <p dir="ltr">本網站使用Cookie分析技術來提供閣較好的使用者體驗，嘛會尊重使用者的隱私，揤連結了解<a href="https://about.pts.org.tw/service/terms.html" target="_blank" rel="noopener">公視網站服務條款</a>。</p>
    </div>
  </div>
  <a href="#0" class="cd-top">top</a>
</footer>