<div id="fb-root"></div>
<header class="header">
  <div class="pc-header sticker">
    <div class="top-menu">
      <nav class="navbar navbar-expand-lg">
        <div class="collapse navbar-collapse" id="navigation">
          <div class="container header-c">
            <a href="index.html" class="pc-logo" title="公視台語台">
            <img src="../assets/storage/settings/April2023/yXLlpu5uAwdPUP7dKkDi.png" alt="公視台語台">
            </a>
            <ul class="nav navbar-nav header-w">
              <li class="nav-item nav-items dropdown">
                <a href="index.html" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>公視台語台</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="introduction.html" target="_self"  class="nav-link">
                    <span>關於台語台</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items dropdown">
                <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>台語智識</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="taigi-words.html" target="_self"  class="nav-link">
                    <span>辭庫網</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXhDh338GiDRyljOLV_TiM4" target="_blank"  class="nav-link">
                    <span>看圖學台語</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvVgHumZgDjIGUsjx54VIDRn" target="_blank"  class="nav-link">
                    <span>逐工一句</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items dropdown">
                <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>新聞</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="news.html" target="_self"  class="nav-link">
                    <span>新聞網</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/@taigitaiPTS/featured" target="_blank"  class="nav-link">
                    <span>逐工新聞</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="tnv.html" target="_self"  class="nav-link">
                    <span>台灣新眼界</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PLUhuIg1OUuq6GoyXZHYb1r6lA2OObyYl1" target="_blank"  class="nav-link">
                    <span>新聞看南方</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvU88QkhBBvyJkKwuK2BO7Bi" target="_blank"  class="nav-link">
                    <span>文化相放伴</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" target="_blank"  class="nav-link">
                    <span>台灣記事簿</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/channel/UCmXeBW-dp-vp8dX519Iv56Q" target="_blank"  class="nav-link">
                    <span>青春咱的夢</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items dropdown">
                <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <span>節目</span>
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item nav-items ">
                    <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXqK9m76O4SooUctUHs21qZ" target="_blank"  class="nav-link">
                    <span>欲看佗一齣</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/64782351F40A0.html" target="_self"  class="nav-link">
                    <span>收成 ê 彼一工</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/647702E5846AD.html" target="_self"  class="nav-link">
                    <span>穎仔穎仔育</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/6476E51A304D4.html" target="_self"  class="nav-link">
                    <span>WAWA哇！</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/6477023B563B5.html" target="_self"  class="nav-link">
                    <span>非常了不起</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/63C019F477D65.html" target="_self"  class="nav-link">
                    <span>無事 坐巴士</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/63AA5FDA59595.html" target="_self"  class="nav-link">
                    <span>HiHi導覽先生</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/63C01A1574FE8.html" target="_self"  class="nav-link">
                    <span>全家有智慧</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="programs/6476CCC406893.html" target="_self"  class="nav-link">
                    <span>台語有影</span>
                    </a>
                  </li>
                  <li class="nav-item nav-items ">
                    <a href="http://web.pts.org.tw/php/programX/main.php?XCHANNEL=PTS2&amp;XMODE=WEEK" target="_blank"  class="nav-link">
                    <span>台語台節目表</span>
                    </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item nav-items ">
                <a href="https://www.youtube.com/watch?v=6KlRR_DGhmI" target="_blank"  class="nav-link">
                <span>直播</span>
                </a>
              </li>
            </ul>
            <div class="search-grup d-block">
             
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="mo-header">
    <div class="top-menu">
      <a href="index.html" class="logo" title="公視台語台">
      <img src="../assets/storage/settings/April2023/yXLlpu5uAwdPUP7dKkDi.png" alt="公視台語台">
      </a>
      <nav class="navbar navbar-expand-lg">
        <button class="navbar-toggler" data-target="#navigation" data-control="navigation" data-toggle="collapse">
        <span class="icon-bar"><b class="d-none">Dash</b></span>
        <span class="icon-bar"><b class="d-none">Dash</b></span>
        <span class="icon-bar"><b class="d-none">Dash</b></span>
        </button>
        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav header-w">
            <li class="nav-item nav-items dropdown">
              <a href="index.html" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>公視台語台</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="introduction.html" target="_self"  class="nav-link">
                  <span>關於台語台</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items dropdown">
              <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>台語智識</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="taigi-words.html" target="_self"  class="nav-link">
                  <span>辭庫網</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXhDh338GiDRyljOLV_TiM4" target="_blank"  class="nav-link">
                  <span>看圖學台語</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvVgHumZgDjIGUsjx54VIDRn" target="_blank"  class="nav-link">
                  <span>逐工一句</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items dropdown">
              <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>新聞</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="news.html" target="_self"  class="nav-link">
                  <span>新聞網</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/@taigitaiPTS/featured" target="_blank"  class="nav-link">
                  <span>逐工新聞</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="tnv.html" target="_self"  class="nav-link">
                  <span>台灣新眼界</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PLUhuIg1OUuq6GoyXZHYb1r6lA2OObyYl1" target="_blank"  class="nav-link">
                  <span>新聞看南方</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvU88QkhBBvyJkKwuK2BO7Bi" target="_blank"  class="nav-link">
                  <span>文化相放伴</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" target="_blank"  class="nav-link">
                  <span>台灣記事簿</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/channel/UCmXeBW-dp-vp8dX519Iv56Q" target="_blank"  class="nav-link">
                  <span>青春咱的夢</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items dropdown">
              <a href="#" target="_self"  class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <span>節目</span>
              <span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
                <li class="nav-item nav-items ">
                  <a href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvXqK9m76O4SooUctUHs21qZ" target="_blank"  class="nav-link">
                  <span>欲看佗一齣</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/64782351F40A0.html" target="_self"  class="nav-link">
                  <span>收成 ê 彼一工</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/647702E5846AD.html" target="_self"  class="nav-link">
                  <span>穎仔穎仔育</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/6476E51A304D4.html" target="_self"  class="nav-link">
                  <span>WAWA哇！</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/6477023B563B5.html" target="_self"  class="nav-link">
                  <span>非常了不起</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/63C019F477D65.html" target="_self"  class="nav-link">
                  <span>無事 坐巴士</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/63AA5FDA59595.html" target="_self"  class="nav-link">
                  <span>HiHi導覽先生</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/63C01A1574FE8.html" target="_self"  class="nav-link">
                  <span>全家有智慧</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="programs/6476CCC406893.html" target="_self"  class="nav-link">
                  <span>台語有影</span>
                  </a>
                </li>
                <li class="nav-item nav-items ">
                  <a href="http://web.pts.org.tw/php/programX/main.php?XCHANNEL=PTS2&amp;XMODE=WEEK" target="_blank"  class="nav-link">
                  <span>台語台節目表</span>
                  </a>
                </li>
              </ul>
            </li>
            <li class="nav-item nav-items ">
              <a href="https://www.youtube.com/watch?v=6KlRR_DGhmI" target="_blank"  class="nav-link">
              <span>直播</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>
<main class="">
  <h1 class="d-none">公視台語台-首頁</h1>
  <!-- Banner -->
  <div class="kv_slider">
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/watch?v=j2x1iDCQj6E&amp;list=PL9X_7mTn8zvWd54KuSkxmdl9eDn3oI5e6" target="" title="俗女養成記2">
      <img class="w-100" src="../assets/storage/banners/September2023/MsXyC7y93LV9Z5oPSM6e.jpg" alt="俗女養成記2">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.facebook.com/profile.php?id=61550804234857" target="" title="這是台灣款">
      <img class="w-100" src="../assets/storage/banners/September2023/bSrk4iIfGVSc2f6WWMi4.jpg" alt="這是台灣款">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/@ptsbus/videos" target="_blank" title="【無事坐巴士】 後班車J個力">
      <img class="w-100" src="../assets/storage/banners/September2023/NNCbQQHQHZ1LpmO1j9H3.jpg" alt="【無事坐巴士】 後班車J個力">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvW5v_BtWlBsmnQLW7n-w-25" target="_blank" title="收成ê彼一工 第2季">
      <img class="w-100" src="../assets/storage/banners/June2023/Z83nBPkcB4Tr4MzX0fRW.jpg" alt="收成ê彼一工 第2季">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvWvCxbSJ-w6QQHZsvfYfDdp" target="_blank" title="穎仔穎仔育">
      <img class="w-100" src="../assets/storage/banners/August2023/gBlebRld07tVeyJ2qsbH.jpg" alt="穎仔穎仔育">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/channel/UChnu3jKAuTVMzljjpAKyF6A" target="_blank" title="HiHi導覽先生">
      <img class="w-100" src="../assets/storage/banners/June2023/4B7a5ggwIWTRPxyR8QIX.jpg" alt="HiHi導覽先生">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.facebook.com/TGTculturalshow" target="" title="文化相放伴">
      <img class="w-100" src="../assets/storage/banners/July2023/n5CuWJL8PjfyKt46mLqE.jpg" alt="文化相放伴">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.facebook.com/TaiwanSmartFamily" target="_blank" title="全家有智慧_第6季">
      <img class="w-100" src="../assets/storage/banners/September2023/LiYBETkbR91Y2K1W19aN.jpg" alt="全家有智慧_第6季">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" target="_blank" title="台灣記事簿">
      <img class="w-100" src="../assets/storage/banners/September2023/SjxLeyoQzRPbwsUDHxvU.jpg" alt="台灣記事簿">
      </a>
    </div>
    <div class="img-wrap">
      <a class="d-block img-item" href="events/64E5CC3C01BE3.html" target="" title="咱的歌：2023台語囡仔歌創作徵選">
      <img class="w-100" src="../assets/storage/banners/September2023/lCLixpcfT4L3wBeWAWxd.jpg" alt="咱的歌：2023台語囡仔歌創作徵選">
      </a>
    </div>
  </div>
  <div class="container d-block d-lg-none">
    <div class="kv_slider_mo">
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/watch?v=j2x1iDCQj6E&amp;list=PL9X_7mTn8zvWd54KuSkxmdl9eDn3oI5e6" title="俗女養成記2" target="">
        <img src="../assets/storage/banners/September2023/MsXyC7y93LV9Z5oPSM6e.jpg" alt="俗女養成記2">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.facebook.com/profile.php?id=61550804234857" title="這是台灣款" target="">
        <img src="../assets/storage/banners/September2023/bSrk4iIfGVSc2f6WWMi4.jpg" alt="這是台灣款">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/@ptsbus/videos" title="【無事坐巴士】 後班車J個力" target="_blank">
        <img src="../assets/storage/banners/September2023/NNCbQQHQHZ1LpmO1j9H3.jpg" alt="【無事坐巴士】 後班車J個力">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvW5v_BtWlBsmnQLW7n-w-25" title="收成ê彼一工 第2季" target="_blank">
        <img src="../assets/storage/banners/June2023/Z83nBPkcB4Tr4MzX0fRW.jpg" alt="收成ê彼一工 第2季">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/playlist?list=PL9X_7mTn8zvWvCxbSJ-w6QQHZsvfYfDdp" title="穎仔穎仔育" target="_blank">
        <img src="../assets/storage/banners/August2023/gBlebRld07tVeyJ2qsbH.jpg" alt="穎仔穎仔育">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/channel/UChnu3jKAuTVMzljjpAKyF6A" title="HiHi導覽先生" target="_blank">
        <img src="../assets/storage/banners/June2023/4B7a5ggwIWTRPxyR8QIX.jpg" alt="HiHi導覽先生">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.facebook.com/TGTculturalshow" title="文化相放伴" target="">
        <img src="../assets/storage/banners/July2023/n5CuWJL8PjfyKt46mLqE.jpg" alt="文化相放伴">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.facebook.com/TaiwanSmartFamily" title="全家有智慧_第6季" target="_blank">
        <img src="../assets/storage/banners/September2023/LiYBETkbR91Y2K1W19aN.jpg" alt="全家有智慧_第6季">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="https://www.youtube.com/channel/UCXNBqPWxUGRqyNt3nIu7QRg/featured" title="台灣記事簿" target="_blank">
        <img src="../assets/storage/banners/September2023/SjxLeyoQzRPbwsUDHxvU.jpg" alt="台灣記事簿">
        </a>
      </div>
      <div class="img-wrap">
        <a class="d-block img-item" href="events/64E5CC3C01BE3.html" title="咱的歌：2023台語囡仔歌創作徵選" target="">
        <img src="../assets/storage/banners/September2023/lCLixpcfT4L3wBeWAWxd.jpg" alt="咱的歌：2023台語囡仔歌創作徵選">
        </a>
      </div>
    </div>
  </div>
  <div class="section-news ids1 ids">
    <div class="container">
      <div class="idsti">
        <h2>頭條新聞</h2>
        <p>踮臺灣、用臺灣話、寫臺語文，報新聞。</p>
      </div>
      <div class="row">
        <div class="col-lg-6">
          <a href="news/10910.html" class="s1c1" title="藍營喝恢復黨籍、改爭取不分區 郭台銘直幌頭">
            <div class="img-wrap">
              <div class="img-item">
                <img src="../assets/storage/api-news/October2023/E23vLG1W29XCEh2GbJAO.png" alt="藍營喝恢復黨籍、改爭取不分區 郭台銘直幌頭">
              </div>
            </div>
            <div class="word-item">
              <img src="../assets/images/s1-play.png" alt="播放圖示">
              <div class="">
                <h3>藍營喝恢復黨籍、改爭取不分區 郭台銘直幌頭</h3>
                <p>2023-10-02</p>
              </div>
            </div>
          </a>
        </div>
        <div class="col-lg-6">
          <div class="s1c2">
            <a href="news/10912.html" class="s1c2-a" title="越南移工佇廢宿舍種大麻 警方以毒品條例送辦">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/VIaDYY0N1wrcBzBC0upV.png" alt="越南移工佇廢宿舍種大麻 警方以毒品條例送辦">
                </div>
              </div>
              <div class="word-item">
                <h3>越南移工佇廢宿舍種大麻 警方以毒品條例送辦</h3>
                <p>2023-10-02</p>
              </div>
            </a>
            <a href="news/10911.html" class="s1c2-a" title="西班牙夜店火燒13死、濟人嗾著傷 14人下落不明">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/zacxAvcW05S43cOofyeI.png" alt="西班牙夜店火燒13死、濟人嗾著傷 14人下落不明">
                </div>
              </div>
              <div class="word-item">
                <h3>西班牙夜店火燒13死、濟人嗾著傷 14人下落不明</h3>
                <p>2023-10-02</p>
              </div>
            </a>
            <a href="news/10889.html" class="s1c2-a" title="藍營喝恢復黨籍、改爭取不分區？ 郭台銘直幌頭">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/OVKymlBgKivDnjuLMlUw.png" alt="藍營喝恢復黨籍、改爭取不分區？ 郭台銘直幌頭">
                </div>
              </div>
              <div class="word-item">
                <h3>藍營喝恢復黨籍、改爭取不分區？ 郭台銘直幌頭</h3>
                <p>2023-10-01</p>
              </div>
            </a>
            <a href="news/10888.html" class="s1c2-a" title="「小犬」上緊拜二海警 拜三、拜四外圍環流影響落雨">
              <div class="img-wrap">
                <div class="img-item">
                  <img src="../assets/storage/api-news/October2023/ob63IWaJJ9xEbbpzbXGj.png" alt="「小犬」上緊拜二海警 拜三、拜四外圍環流影響落雨">
                </div>
              </div>
              <div class="word-item">
                <h3>「小犬」上緊拜二海警 拜三、拜四外圍環流影響落雨</h3>
                <p>2023-10-01</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="a-more">
        <a href="news.html" class="more-btn" title="查看頭條新聞">
        進一步了解<i class="fa fa-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
  </div>

</main>
<footer class="footer">
  <div class="ft-top">
  </div>
  <div class="ft-bot">
    <div class="container">
      <div class="ft-br">
        <img src="../assets/storage/settings/April2023/1L3T7HAak4ywuj9l1hVC.png" alt="公視台語台">
        <div class="ft-bcont">
          <h4>財團法人公共電視文化事業基金會 公視臺語台</h4>
          <p>114台北市內湖區康寧路三段75巷100號</p>
          <p>客服專線: 02-87521600</p>
        </div>
        <div class="ftbr-copyright">
          <p>Taiwan Public Television Service Foundation. &copy; All Rights Reserved.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="accept-cookie pt-3 d-none" style="background:#003460">
    <div class="container">
      <a type="button" class="close">
      <span aria-hidden="true">&times;</span>
      </a>
      <p dir="ltr">本網站使用Cookie分析技術來提供閣較好的使用者體驗，嘛會尊重使用者的隱私，揤連結了解<a href="https://about.pts.org.tw/service/terms.html" target="_blank" rel="noopener">公視網站服務條款</a>。</p>
    </div>
  </div>
  <a href="#0" class="cd-top">top</a>
</footer>